.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .login {
        text-align: center;
        
        .avatar-wrapper {
            background: #e3e3e3;
            display: inline-block;
            max-width: 100px;
            max-height: 100px;
            border-radius: 100%;
            overflow: clip;
    
            img {
                width: 100%;
                height: 100%;
            }
        }

        mat-form-field, button {
            width: 90%;
        }

        button {
            border-radius: 3px;
        }
    }
}